body {
    background-color: #121212;
    color: #ffffff;
    margin: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-touch-callout: none;
    touch-action: none;
}

div#header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div#header button {
    margin: 20px;
}

div#toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.toast {
    background: #BBB;
    color: #000;
    padding: 12px 20px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.toast.show {
    opacity: 1;
    transform: translateY(0);
}

a {
    color: lightblue;
    width: fit-content;
}